.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add a smooth transition for transform and box-shadow */
  }

.card:hover {
    transform: scale(1.10); /* Increase the size on hover */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle shadow on hover */
  }